@use "../abstracts/abstract" as abs;
.features{
  padding: 10rem 10vw;
  margin-top: -15vh;
  grid-row: features-start / features-end;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: abs.$color-lightGrayishBlue;
  @media only screen and (max-width: abs.$bp-largest){
    margin-top: 0;
    padding: 10rem 2rem;
    text-align: center;
  }
  & .description-1{
    width: 60%;
    @media only screen and (max-width: abs.$bp-largest){width: 100%;}
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.4rem,max-content));
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    list-style: none;
    @media only screen and (max-width: abs.$bp-largest){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4,1fr);
      justify-items: center;
    }
    &--item{
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: start;
      @media only screen and (max-width: abs.$bp-largest){
        width: 75%;
        align-items: center;
      }
    }
  }
}