@use "../abstracts/abstract" as abs;
.hero{
  overflow: hidden;
  max-height: 100%;
  grid-row: hero-start / hero-end;
  padding: 0 0 0 10vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  align-items: center;
  background-color: abs.$color-lightGray;
  @media only screen and (max-width: abs.$bp-largest){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  &__expression{
    grid-column: 1 / 2;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    @media only screen and (max-width: abs.$bp-largest){
      grid-row: 2 / 3;
      width: 100%;
      padding: 0 0 5rem 0;
      text-align: center;
      align-items: center;
    }
  }
  &__mockup{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: 2 / 3;
    @media only screen and (max-width: abs.$bp-largest){
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 105%;
      height: 85%;
      z-index: 0;
      background-image: url("../../../public/images/bg-intro-desktop.svg");
      background-size: 140%;
      background-position: left;
      background-repeat: no-repeat;
      @media only screen and (max-width: abs.$bp-largest){
        width: 100%;
        height: 100%;
        background-size: 150%;
      }
    }
    & img{
      z-index: 1;
      position: absolute;
      top: -15%;
      right: -15%;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      @media only screen and (max-width: abs.$bp-largest){
        right: 0;

      }
    }
  }
}